<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.8" debug="true"/>
	  <httpRuntime targetFramework="4.5"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <add connectionString="Data Source=192.168.0.160;Initial Catalog=MONIT;Persist Security Info=True;User ID=sa;Password=CrasVIA@2016" name="webConnectionString"/>
    <add connectionString="Data Source=192.168.0.160;Initial Catalog=MONIT;Persist Security Info=True;User ID=sa;Password=CrasVIA@2016" name="webConnectionString1"/>
  </connectionStrings>
</configuration>